name: Build for Pull Request

on:
  pull_request:
    types:
      - synchronize

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean -f .goreleaser.pr.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_ARTIFACTS_S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_ARTIFACTS_S3_SECRET_ACCESS_KEY }}
          AWS_REQUEST_CHECKSUM_CALCULATION: when_required
          AWS_RESPONSE_CHECKSUM_VALIDATION: when_required
          BUILD_ARTIFACTS_S3_ENDPOINT: ${{ vars.BUILD_ARTIFACTS_S3_ENDPOINT }}
          BUILD_ARTIFACTS_S3_REGION: ${{ vars.BUILD_ARTIFACTS_S3_REGION }}
          BUILD_ARTIFACTS_S3_BUCKET: ${{ vars.BUILD_ARTIFACTS_S3_BUCKET }}
