name: Build for Pull Request

on:
  pull_request:

permissions:
  contents: write

env:
  TZ: "Asia/Tokyo"

jobs:
  release:
    runs-on: ubuntu-latest

    container:
      image: ubuntu:24.04

    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y git

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Set Version Number
        id: version
        run: |
          echo "VERSION=$(date '+%Y%m%d.%H%M%S')_${PR_NUMBER}_$(echo $COMMIT_SHA | cut -c -7)" >> $GITHUB_ENV
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean -f .goreleaser.pr.yaml --skip validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_ARTIFACTS_S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_ARTIFACTS_S3_SECRET_ACCESS_KEY }}
          AWS_REQUEST_CHECKSUM_CALCULATION: when_required
          AWS_RESPONSE_CHECKSUM_VALIDATION: when_required
          BUILD_ARTIFACTS_S3_ENDPOINT: ${{ vars.BUILD_ARTIFACTS_S3_ENDPOINT }}
          BUILD_ARTIFACTS_S3_REGION: ${{ vars.BUILD_ARTIFACTS_S3_REGION }}
          BUILD_ARTIFACTS_S3_BUCKET: ${{ vars.BUILD_ARTIFACTS_S3_BUCKET }}
          GORELEASER_CURRENT_TAG: ${{ env.VERSION }}
